=simple_error_messages_for :hard_cover_material
-tab :general do
  %table
    %tr
      %td=human_name_for :hard_cover_material, :hard_cover_material_type
      %td=text_field :hard_cover_material, :hard_cover_material_type
      