=simple_error_messages_for :hard_back_cover
-tab :general do
  %table
    %tr
      %td=human_name_for :hard_back_cover, :hard_back_cover_type
      %td=text_field :hard_back_cover, :hard_back_cover_type
      